:root {
  --main-bg-color: #112226;
  --text-color: #658c85;
  --light-brown: #d9bb96;
  --light-orange: #bf7160;
  --more-light-brown: #8c524d;
  --video-size: 1400px;
}

body {
  width: 1440px;
  background-color: #000;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .FS-wr_header_ul-wr_ul_li_a:hover {
    color: var(--light-brown);
  }

  .button-link_container:hover {
    background-color: var(--text-color);
    border-radius: 30px;
  }
}
/* DESCTOP START */
/* HEADER START */

.FS-wr {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 1010px;
}

.FS-wr_header {
  height: 90px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.FS-wr_header_logo {
  height: 90px;
  width: 90px;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}

.FS-wr_header_logo_img {
  height: 50%;
}

.FS-wr_header_ul-wr {
}

.ul-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ul-menu__element {
  display: inline;
  font-size: 20px;

  margin-right: 40px;
}

.ul-menu__element__link {
  color: white;
  text-decoration: none;

  transition: 0.3s;
}
/* HEADER END */

/* FIRST SECTION START */
.FS-wr_section {
  width: 100%;
  min-height: 920px;

  padding: 0 90px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.FS-wr_section_text-wr {
  width: 44.16%;
  display: flex;
  flex-direction: column;

  /* background-color: rgba(0, 0, 0, 0.185);
  border-radius: 15px; */
}

.FS-wr_section_text-wr_h1 {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  text-align: justify;

  color: #ffffff;
  /* text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000; */
}

.button-link_container {
  margin-top: 16px;

  width: 220px;
  height: 55px;

  background: #bdae82;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;

  cursor: pointer;
  transition: 0.3s;
}

.FS-wr_section_text-wr_p {
  width: 100%;
  text-align: left;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

/* FIRST SECTION END */

/* SECOND SECTION START */

.SS-wr_section,
.section {
  position: relative;
  height: auto;
  min-height: 500px;
  width: 100%;
  gap: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.SS-wr_section_h2_wr,
.title {
  width: 700px;

  overflow: hidden;
}

.SS-wr_section_h2,
.title__content {
  text-align: center;
  position: relative;

  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 80px;

  text-align: center;

  color: #bdae82;
}

.SS-wr_section_h2::before,
.title__content::before {
  display: block;
  width: 150px;
  content: "";
  position: absolute;
  border-bottom: 2px solid #bdae82;
  top: 50%;
  right: 20px;
}

.SS-wr_section_h2::after,
.title__content::after {
  display: block;
  width: 150px;
  content: "";
  position: absolute;
  border-bottom: 2px solid #bdae82;
  top: 50%;
  left: 20px;
}

.SS-wr_section_advantages_wr {
  padding: 0 20px;
  width: 100%;
  

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.SS-wr_section_advantages_card {
  width: 20%;
  height: 100%;
  gap: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.SS-wr_section_advantages_card_img-wr {
  width: 50px;
  height: 50px;

  margin-bottom: 30px;
}

.SS-wr_section_advantages_card_img {
  height: 100%;
}

.SS-wr_section_advantages_card_h2, 
.SS-wr_section_advantages_card_p {
  text-align: center;
}

.SS-wr_section_advantages_card_h2 {
  min-height: 81px;
}
/* SECOND SECTION END */

/* PORTFOLIO SECTION START */

.img-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.menu-element {
  flex-shrink: 0;
  width: 450px;
  height: 560px;
}

.menu-element__image {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

/* PORTFOLIO SECTION END */

/* VIDEO SECTION START */

iframe {
  width: var(--video-size);
  height: calc( var(--video-size) / 2);
}

/* VIDEO SECTION END */

/* PRICE SECTION START */

.price-container {
  width: 100%;
  min-height: 505px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.price-card {
  width: 30%;
  height: 100%;
  min-height: 505px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 20px;

  border: 3px var(--light-brown) solid;
}

.price-card__span-container_span {
  text-align: center;
}

.price-card .button-link {
  margin-top: 30px;
}

/* PRICE SECTION END */

/* FOOTER END */

.footer {
  width: 100%;
  height: 300px;
  background: black;

  padding-top: 240px;
  padding-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items:center;
}

.footer .ul-menu {
  display: flex;
  height: 50px;
}

.footer .ul-menu__element__link_img {
  width: 50px;
  height: 50px;
}

/* FOOTER END */



/* DESCTOP END */
